{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	{% include "includes/js.html" %}
	<title>Регистрация</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form method="POST" class="login100-form validate-form">
					{% csrf_token %}
					<input class="dh_A" type="hidden" name="dh_A">
					<span class="login100-form-title p-b-43">
						РЕГИСТРАЦИЯ
					</span>

					<div class="wrap-input100 rs1 validate-input {% if form.username.errors %}alert-validate{%endif%}" data-validate = "{{ form.username.errors.0 }}">
						{{ form.username }}
						<span class="label-input100">Логин</span>
					</div>

					<div class="wrap-input100 rs2 validate-input {% if form.name.errors %}alert-validate{%endif%}" data-validate="{{ form.name.errors.0 }}">
						{{ form.name }}
						<span class="label-input100">Имя</span>
					</div>

					<div class="wrap-input100 validate-input {% if form.password.errors %}alert-validate{%endif%}" data-validate = "{{ form.password.errors.0 }}">
						<input class="input100 pswDH" type="password" name="password1" id="id_password1">
						<span class="label-input100">Пароль</span>
					</div>

					<div class="wrap-input100 validate-input {% if form.password2.errors %}alert-validate{%endif%}" data-validate="{{ form.password2.errors.0 }}">
						<input class="input100 pswDH" type="password" name="password2" id="id_password2">
						<span class="label-input100">Повторите пароль</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Зарегистрироваться
						</button>
					</div>

					<div class="text-center w-full p-t-23">
						<a href="{% url 'accounts:login' %}" class="txt1">
							Есть аккаунт?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>





	<!--===============================================================================================-->
		<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
		<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}vendor/bootstrap/js/popper.js"></script>
		<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'registration/vendor/daterangepicker/moment.min.js' %}"></script>
		<script src="{% static 'registration/vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'registration/vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'registration/js/main.js' %}"></script>
		<script type="text/javascript" src="{% static 'sjcl-1.0.8/sjcl.js' %}"></script>
		<script type="text/javascript" src="{% static 'lex_enc.js' %}?v={{ jrandom }}"></script>
</body>
</html>
