{% extends 'personal/base/base.html' %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock title %}
{% block content %}
<div class="container-login100">
	<div class="wrap-login100">
		<div class="login100-pic js-tilt" data-tilt>
			{% if not request.user.customer.avatar %}
			<img src="{% static 'personal/images/img-01.png' %}" alt="IMG">
			{% else %}
			<img class="avatar-borders" src="{{ request.user.customer.avatar.url }}" alt="IMG">
			{% endif %}
			{% for acc in request.user.customer.smtpaccount_set.all %}
			<div class="text-left p-b-8" style="margin-top: 30px;">
				<span class="txt2 font-fix-bold" style="font-size: 15px;">
					Почта: {{ acc.default_from }}
				</span>
			</div>
			<div style="margin-top: 10px; display: flex; justify-content: space-between;">
				<button class="login100-form-btn font-fix-regular" onclick="location.href='{{ acc.get_detail_url }}';" style="width: 35%; display: inline-block; height: 30px; padding: 0px; text-transform: none;">
					Открыть
				</button>
				<button class="login100-form-btn font-fix-regular" onclick="location.href='{{ acc.get_edit_url }}';" style="width: 35%; display: inline-block; height: 30px; padding: 0px; text-transform: none;">
					Изменить
				</button>
			</div>
			{% endfor %}
			<div class="container-login100-form-btn" style="margin-top: 30px;">
				<button class="login100-form-btn font-fix-regular" onclick="location.href='{% url 'mails:create_smtp_acc'%}';">
					Подключить почту
				</button>
			</div>
		</div>
		<form class="login100-form validate-form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<span class="login100-form-title font-fix-bold">
				Личный кабинет
			</span>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.name.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.name }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.name }}
				</span>
			</div>

			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.facebook.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.facebook }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.facebook }}
				</span>
			</div>

			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.twitter.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.twitter }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.twitter }}
				</span>
			</div>

			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.instagram.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.instagram }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.instagram }}
				</span>
			</div>

			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.avatar.label_tag }}
				</span>
			</div>
			<div class="wrap-input100 txt2 font-fix-regular" data-validate = "">
				{{ form.avatar }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.avatar }}
				</span>
			</div>

			<div class="container-login100-form-btn">
				<button class="login100-form-btn font-fix-regular">
					Сохранить
				</button>
			</div>

			<div class="text-center p-t-12">
				<a class="txt2 font-fix-regular" href="">
					Открыть диалоги
				</a>
			</div>

			<div class="text-center p-t-136">
				<a class="txt2 font-fix-regular" href="{% url 'accounts:logout' %}">
					Выйти из аккаунта
					<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
