{% extends 'personal/base/base.html' %}
{% load static %}
{% block title %}
Подключить почту
{% endblock title %}
{% block content %}
<div class="container-login100">
	<div class="wrap-login100" style="width: auto; padding: 177px 95px 33px 95px">
		<form class="login100-form validate-form" method="post" enctype="multipart/form-data" style="margin-left: auto; margin-right: auto;">
			{% csrf_token %}
			<span class="login100-form-title font-fix-bold">
				Изменение данных для {{ object.default_from }}
			</span>

      <div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					Новый пароль
				</span>
			</div>
			<div class="wrap-input100" data-validate="">
				<input type="text" name="new_password" class="input100 font-fix-regular" maxlength="255" required="" id="id_new_password" autocomplete="off">
				<span class="focus-input100"></span>
			</div>
			{% comment %}
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
				 ААААААааа
				</span>
			</div>
			{% endcomment %}

			<div class="container-login100-form-btn">
				<button class="login100-form-btn font-fix-regular">
					Сохранить
				</button>
			</div>

			<div class="text-center p-t-136">
				<a class="txt2 font-fix-regular" href="{% url 'accounts:personal' %}">
					Вернуться в личный кабинет
					<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
