{% extends 'personal/base/base.html' %}
{% load static %}
{% block title %}
Подключить почту
{% endblock title %}
{% block content %}
<div class="container-login100">
	<div class="wrap-login100" style="width: auto; padding: 177px 95px 33px 95px">
		<form class="login100-form validate-form" method="post" enctype="multipart/form-data" style="margin-left: auto; margin-right: auto;">
			{% csrf_token %}
			<span class="login100-form-title font-fix-bold">
				Подключение почты к системе
			</span>

			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.smtp.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.smtp }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.smtp }}
				</span>
			</div>

      <div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.default_from.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.default_from }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.default_from }}
				</span>
			</div>

      <div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.username.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.username }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.username }}
				</span>
			</div>

      <div class="text-left p-b-8">
				<span class="txt2 font-fix-regular">
					{{ form.password.label_tag }}
				</span>
			</div>
			<div class="wrap-input100" data-validate = "">
				{{ form.password }}
				<span class="focus-input100"></span>
			</div>
			<div class="text-left p-b-8">
				<span class="txt2 font-fix-regular alert-red">
					{{ form.errors.password }}
				</span>
			</div>

			<div class="container-login100-form-btn">
				<button class="login100-form-btn font-fix-regular">
					Сохранить
				</button>
			</div>

			<div class="text-center p-t-136">
				<a class="txt2 font-fix-regular" href="{% url 'accounts:personal' %}">
					Вернуться в личный кабинет
					<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
