{% load static %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js" integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=" crossorigin="anonymous"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'autocomplete/jquery.autocomplete.js' %}?v={{ jrandom }}"></script>
<script src="{% static 'mails/main.js' %}?v={{ jrandom }}"></script>
<script src="{% static 'lex_enc.js' %}?v={{ jrandom }}"></script>
