<script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>
<script type="text/javascript">
  var server_p = bigInt("{{ appsettings.dh.p }}");
  var server_g = bigInt({{ appsettings.dh.g }});
  var server_A = bigInt("{{ appsettings.dh.gen_public_key }}")
</script>
