{% extends 'mails/base/base.html' %}
{% block title %}
Почтовый клиент
{% endblock %}
{% block content %}
<div class="row" style="width: 100%">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email" style="min-height: 93vh">
			<div class="grid-body">
				<div class="row">
					{% include 'mails/pages/includes/inbox_menu.html' %}

					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						{% include 'mails/pages/includes/top_menu.html' %}

						<div class="padding"></div>

						<div class="table-responsive">
							<table class="table">
								<tbody>
                  {% for message in object_list %}
  								<tr class="read">
  									<td class="action"><div class="icheckbox_square-blue" st<td class="action"><input type="checkbox" /></td>
  									<td class="action"><i class="fa fa-star-o"></i></td>
  									<td class="action"><i class="fa fa-bookmark"></i></td>
  									<td class="name"><a href="{{ message.get_detail_url }}">{{ message.from_address.0 }}</a></td>
  									<td class="subject"><a class="lex-subject" href="{{ message.get_detail_url }}" data-receiver_A="{{ message.get_A }}">{{ message.subject }}</a></td>
  									<td class="time">{{ message.processed }}</td>
  								</tr>
                  {% endfor %}
							   </tbody>
               </table>
						</div>
            {% if is_paginated %}
              {% include 'mails/pages/includes/pagination.html' %}
            {% endif %}
					</div>
					<!-- END INBOX CONTENT -->

					{% include 'mails/pages/includes/compose_message.html' %}
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>
{% endblock %}
