{% extends 'mails/base/base.html' %}
{% load static %}
{% block title %}
Почтовый клиент
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mails/read.css' %}">
<div class="row" style="width: 100%">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email" style="min-height: 93vh">
			<div class="grid-body">
				<div class="row">
					{% include 'mails/pages/includes/inbox_menu.html' %}

					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						{% include 'mails/pages/includes/top_menu.html' %}
						<div class="padding"></div>

						<div class="table-responsive">

              <div class="col-lg-12 email-content">
              <div class="email-head">
                <div class="email-head-subject">
                  <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <a class="active" href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star text-primary-muted"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></span></a>
                      <span class="lex-subject">{{ message.subject }}</span>
                    </div>
                    <div class="icons">
                      <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share text-muted hover-primary-muted" data-toggle="tooltip" title="" data-original-title="Forward"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></svg></a>
                      <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer text-muted" data-toggle="tooltip" title="" data-original-title="Print"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg></a>
                      <a href="#" class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash text-muted" data-toggle="tooltip" title="" data-original-title="Delete"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                  <div class="d-flex align-items-center">
                    <div class="avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="rounded-circle user-avatar-md">
                    </div>
                    <div class="sender d-flex align-items-center">
                      <a href="#">{{ message.from_address.0 }}</a> <span>to</span><a href="#">{{ message.to_addresses.0 }}</a>
                      {% comment %}
                      <div class="actions dropdown">
                        <a class="icon" href="#" data-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="#">Mark as read</a>
                          <a class="dropdown-item" href="#">Mark as unread</a>
                          <a class="dropdown-item" href="#">Spam</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#">Delete</a>
                        </div>
                      </div>
                      {% endcomment %}
                    </div>
                  </div>
                  <div class="date">{{ message.processed }}</div>
                </div>
              </div>
							<input type="hidden" class="email_sender_A" name="dh_A" value="{{ message.get_A }}">
              <div class="email-body lex-body">
								{% if message.html %}
                {{ message.html|safe }}
								{% else %}
								{{ message.text }}
								{% endif %}
              </div>
              {% if message.attachments.exists %}
              <div class="email-attachments">
                <div class="title">Вложения <span>(всего файлов: {{ message.attachments.all.count }})</span></div>
                <ul>
                  {% for attachment in message.attachments.all %}
                  <li><a class="lex-file" href="{{ attachment.document.url }}" download="{{ attachment.get_filename }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> {{ attachment.get_filename }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>

						</div>
					</div>
					<!-- END INBOX CONTENT -->
          {% include 'mails/pages/includes/compose_message.html' %}
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>
{% endblock %}
