<!-- BEGIN COMPOSE MESSAGE -->
<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-wrapper">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"><i class="fa fa-envelope"></i> Отправить новое сообщение</h4>
        </div>
        <form class="sendMessageForm" action="{{ account.get_detail_url }}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <input class="receiver_A" type="hidden" name="receiver_A">
              <input name="to" type="email" class="form-control email_autocomplete" placeholder="Кому" data-autocomplete="{% url 'mails:email_autocomplete' %}">
            </div>
            {% comment %}
            <div class="form-group">
              <input name="cc" type="email" class="form-control" placeholder="Cc">
            </div>
            <div class="form-group">
              <input name="bcc" type="email" class="form-control" placeholder="Bcc">
            </div>
            {% endcomment %}
            <div class="form-group">
              <input name="subject" type="text" class="form-control lexSubject" placeholder="Тема">
            </div>
            <div class="form-group">
              <textarea name="message" id="email_message" class="form-control lexMessage" placeholder="Сообщение" style="height: 120px;"></textarea>
            </div>
            <div class="form-group">
              <input class="lexFiles" type="file" name="attachments" multiple>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Отправить сообщение</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END COMPOSE MESSAGE -->
