<!-- BEGIN INBOX MENU -->
<div class="col-md-3">
  <h2 class="grid-title" style="font-size: 24px;"><i class="fa fa-inbox"></i> {{ account.default_from }}</h2>
  <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;НОВОЕ СООБЩЕНИЕ</a>

  <hr>

  <div>
    <ul class="nav nav-pills nav-stacked">
      <li class="header">Папки</li>
      <li class="{% if request.GET.folder == 'inbox' or not request.GET.folder and object == account %}active{% endif %}"><a href="{{ account.get_detail_url }}?folder=inbox"><i class="fa fa-inbox"></i> Входящие</a></li>
      <li class="{% if request.GET.folder == 'sent' %}active{% endif %}"><a href="{{ account.get_detail_url }}?folder=sent"><i class="fa fa-mail-forward"></i> Отправленные</a></li>
      {% comment %}
      <li><a href="#"><i class="fa fa-star"></i> Starred</a></li>
      <li><a href="#"><i class="fa fa-bookmark"></i> Important</a></li>
      <li><a href="#"><i class="fa fa-pencil-square-o"></i> Drafts</a></li>
      <li><a href="#"><i class="fa fa-folder"></i> Spam (217)</a></li>
      {% endcomment %}
    </ul>
  </div>
</div>
<!-- END INBOX MENU -->
