<ul class="pagination">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}{% if request.GET.folder %}&folder={{ request.GET.folder }}{% endif %}">«</a></li>
  {% endif %}
  {% for number in page_obj.paginator.page_range %}
  {% if page_obj.number == number %}
  <li class="active"><a>{{ page_obj.number }}</a></li>
  {% elif number > page_obj.number|add:-3 and number < page_obj.number|add:3 %}
  <li><a href="?page={{ number }}{% if request.GET.folder %}&folder={{ request.GET.folder }}{% endif %}">{{ number }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}{% if request.GET.folder %}&folder={{ request.GET.folder }}{% endif %}">»</a></li>
  {% endif %}
</ul>
