<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-6">
    {% comment %}
    <label style="margin-right: 8px;" class="">
      <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
    </label>
    {% endcomment %}
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Меню <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for acc in account.customer.smtpaccount_set.all %}
        <li class="{% if acc == account %}active{% endif %}"><a href="{{ acc.get_detail_url }}">{{ acc.default_from }}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="{% url 'accounts:personal' %}">Перейти в личный кабинет</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 search-form">
    <form action="{{ account.get_detail_url }}" class="text-right" method='get'>
      <div class="input-group">
        <input type="text" name="search" class="form-control input-sm" value="{{ request.GET.search }}" placeholder="Поиск">
        <span class="input-group-btn">
        <button type="submit" class="btn_ btn-primary btn-sm search"><i class="fa fa-search"></i></button></span>
      </div>
    </form>
  </div>
</div>
