{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include "includes/js.html" %}
	<title>{% block title%}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'personal/base/includes/css.html' %}
  {% include 'personal/base/includes/js.html' %}
</head>
<body>
	<div class="limiter">
    {% block content %}
    {% endblock content %}
	</div>
</body>
</html>
