{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "includes/js.html" %}
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'favicons/dialog.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'mails/base/includes/css.html' %}
    {% include 'mails/base/includes/js.html' %}
</head>
<body style="margin: 0px;">
<div class="container container-main">
{% block content %}
{% endblock %}
</div>
</body>
</html>
