{% load static %}
<!--===============================================================================================-->
	<script src="{% static 'personal/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'personal/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'personal/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'personal/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'personal/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'personal/js/main.js' %}?v={{ jrandom }}"></script>
	<script type="text/javascript" src="{% static 'lex_enc.js' %}?v={{ jrandom }}"></script>
